Django==4.0.10
django-cors-headers==4.2.0
django-environ==0.10.0
django-redis==5.3.0
django-stubs==4.2.3
django-stubs-ext==4.2.2
djangorestframework==3.14.0

multipledispatch==1.0.0
asgiref==3.7.2
async-timeout==4.0.2
inject==5.0.0
lazy-streams==1.0.1

mypy==1.4.1
mypy-extensions==1.0.0
PyMySQL==1.0.2
redis==4.6.0
sqlparse==0.4.4
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
uWSGI==2.0.21

mnemonic==0.20
bip32utils==0.3.post4
eth-utils==2.2.0
eth-keys==0.4.0
pycryptodome==3.18.0

web3==6.7.0
boto3==1.28.12

mypy-boto3-s3==1.28.8
boto3-stubs==1.28.11
botocore-stubs==1.31.12
mypy-boto3-ses==1.28.0
types-awscrt==0.16.26
types-s3transfer==0.6.1

bcrypt==4.0.1
